# SPDX-FileCopyrightText: 2026 roolrz
# SPDX-License-Identifier: Apache-2.0

/target/
/app/target/
/kernel/target/
/sdk/abi/target/
/sdk/rust/target/
/sdk/toolchain/target/
/sdk/toolchain/tests/rust-smoke/target/
/tools/fit-pack/target/
/kernel/tests/host/target/
/kernel/tests/host/Cargo.lock
/kernel/tools/kconfig/target/
/kernel/tools/kconfig/Cargo.lock
/kernel/tools/kallsyms/target/
/kernel/.config
/.idea/
/.vscode/*
!/.vscode/settings.json
!/.vscode/rust-analyzer.toml
/.agent
*.swp
*.swo
*.log
