# SPDX-FileCopyrightText: 2026 roolrz
# SPDX-License-Identifier: Apache-2.0

/target/
/kernel/target/
/sdk/abi/target/
/sdk/toolchain/target/
/kernel/tests/host/target/
/kernel/tests/host/Cargo.lock
/kernel/tools/kconfig/target/
/kernel/tools/kconfig/Cargo.lock
/kernel/tools/kallsyms/target/
/kernel/.config
/.idea/
/.vscode/
/.agent
*.swp
*.swo
*.log
