CONFIG_ARCH_AARCH64=n
CONFIG_ARCH_RISCV64=n
CONFIG_ARCH_X86_64=y
CONFIG_PLATFORM_QEMU=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_MAX_CPUS=8
CONFIG_MAX_KERNEL_STACKS=1024
CONFIG_KERNEL_STACK_SIZE_KB=16
CONFIG_IRQ_STACK_SIZE_KB=32
CONFIG_EMERGENCY_STACK_SIZE_KB=32
CONFIG_CRASH_CONSOLE=n
CONFIG_TIMER_HZ=100
CONFIG_TIMER_QUEUE_CAPACITY=256
CONFIG_CONSOLE_LOGLEVEL=6
CONFIG_LOG_BUF_SHIFT=16
CONFIG_LOG_LINE_MAX=512
