CONFIG_ARCH_AARCH64=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_MAX_CPUS=8
CONFIG_TIMER_HZ=100
CONFIG_TIMER_QUEUE_CAPACITY=256
CONFIG_CONSOLE_LOGLEVEL=6
CONFIG_LOG_BUF_SHIFT=16
CONFIG_LOG_LINE_MAX=512
