# SPDX-FileCopyrightText: 2026 roolrz
# SPDX-License-Identifier: Apache-2.0

CONFIG_ARCH_AARCH64=y
CONFIG_ARM64_VA_BITS=48
CONFIG_ARM64_PA_BITS=48
CONFIG_ARM64_IPA_BITS=39
CONFIG_ARM64_MAX_GIC_REDISTRIBUTOR_REGIONS=16
CONFIG_PLATFORM_QEMU=y
CONFIG_RANDOMIZE_BASE=y
CONFIG_MAX_CPUS=8
CONFIG_MAX_KERNEL_STACKS=1024
CONFIG_KERNEL_STACK_SIZE_KB=16
CONFIG_IRQ_STACK_SIZE_KB=32
CONFIG_EMERGENCY_STACK_SIZE_KB=32
CONFIG_TIMER_HZ=100
CONFIG_LOG_COMPILE_LEVEL=6
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=6
CONFIG_LOG_BUF_SHIFT=16
CONFIG_LOG_LINE_MAX=512
CONFIG_CRASH_CONSOLE=y
